#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #007bff;
}

.button-link {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-link:hover {
  background-color: #0056b3; /* Darker blue */
}